.departments{
  position: relative;
}
.departments #coil{
  position: absolute;
  top: -9%;
  right: 0rem;
}
.departments .introText {
  margin-bottom: 4rem;
}

.departments .image {
  background: var(--clr-blue-200);
  width: 100%;
}
.image img {
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) and (max-width: 768px) {
  .departments .image {
    height: 30rem;
  }
}

@media (min-width: 768px) {
  .departments {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .introContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .departments .introText {
    text-align: left;
  }
  .introText .title {
    margin-left: 0;
  }
  .departments .imgContainer {
    width: 50%;
  }
}
