.socialMedia .content{
  padding: 1rem;
}
.socialMedia .info {
  max-width: 25rem;
  margin: auto;
}
.socialMedia {
  overflow: hidden;
  /* height: 37rem; */
}
.socialIcons .header {
  padding: 1rem;
}
.socialMedia .info {
  text-align: center;
}

.socialIcons {
  margin: auto;
  width: fit-content;
  margin-top: 2rem;
  position: relative;
}

.socialIcons #arrow {
  position: absolute;
  top: -25px;
  right: -60px;
  transform: rotate(15deg);
}

.socialIcons img {
  margin-right: 1rem;
}
.mockup1 {
  transform: translate(-15%, 15%);
  width: fit-content;
  margin: auto;
  /* margin-top: 2rem; */
}
.mockup1 img {
  width: 120%;
}
.mockup2 {
  display: none;
}

/* @media (min-width: 992px) and (max-width: 1128px) {
  .mockup1 {
    transform: translate(-20%, -10%);
    margin-top: 1rem;
  }
  .mockup2 {
    display: initial;
    position: absolute;
    top: 10%;
    right: -65%;
  }
}
@media (min-width: 1128px) {
  .mockup1 {
    transform: translate(-10%, -10%);
  }
  .mockup2 {
    right: -50%;
  }
}*/

@media (min-width: 1200px) {
  .mockup2 {
    right: -45% !important;
  }
}

/* large screen sizes */
@media (min-width: 992px) {
  .socialMedia {
    /* overflow: hidden; */
    height: 38rem;
  }
  .socialMedia {
    position: relative;
  }
  .socialMedia .content {
    padding-top: 3rem;
  }
  
  .mockup1 {
    transform: translate(-15%, -10%);
    margin: 0;
    margin-top: 1rem;
  }
  .mockup2 {
    display: initial;
    position: absolute;
    top: 10%;
    /* right: -40%; */
    right: min(-40%, -63%);
  }
  .mockup1 img {
    width: 118%;
  }
  .mockup2 img {
    width: 70%;
  }
}
