.weeklyActivities {
  padding: 0 1rem;
}
.weeklyActContainer {
  padding: 1rem;
}

.card {
  padding: 1.5rem;
  /* border: 1px solid lightgray; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-bottom: 5px solid var(--clr-blue-100);
  width: 10rem;
  align-items: flex-start !important;
  border-radius: 15px;
  flex: none;
  text-align: center;
  transition: all .2s ease;
}
.card:hover{
  border-color:rgb(61, 61, 61);
}
.card .icon {
  width: 100%;
  height: 40%;
  display: flex;
}
.card .icon img {
  width: 70px;
  width: 70px;
  margin: auto;
}
.tag {
  font-size: var(--text-200);
  padding: 0.2rem 0.5rem;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 20px;
  margin: auto;
}

.card .timeIcon {
  margin-right: 0.3rem;
}

.timeTag {
  padding: 0.5rem;
  font-size: var(--text-200);
}
.cardInfo {
  font-size: var(--text-300);
}

/* large screen sizes */
@media (min-width: 992px) {
  .lg-center {
    justify-content: center;
  }
}
